

body{
    font-family: 'Lora', serif;
    width: 850px;
    height: 520px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    
    
    
    

        
}

#date{
    height: 26px;
    padding-left: 2%;
    
    
}


main{
    display: flex;
    justify-content: center;
}


#choose{
    position: relative;
    width: 390px; /* 領域の幅を指定 */
    height: 447px; /* 領域の高さを指定 */
    
    margin: 3%;
}

#inputBox{
    text-align: center;
    
    height: 29px;
}

#imageUpload{
    font-family: 'Lora', serif;
    
}

label{
    text-decoration:underline;

  
    
    font-family: 'PT Serif', serif;
}



#resultsBox{
    position: relative;
    width: 390px; /* 領域の幅を指定 */
    height: 447px;
    margin: 3%;
    
}

#AgeandGenderResults{
    width: 390px;
    height: 150px;
    border-bottom: 1px solid #333;
    
}

#AandGRs{
    text-decoration:underline;
    margin: 0 auto;
    height: 29px;
    font-family: 'PT Serif', serif;
}

#FaceExpressionResults{
    width: 390px;
    height: 296px;
    border-bottom: 1px solid #333;
}

#FERs{
    text-decoration:underline;
    height: 29px;
    font-family: 'PT Serif', serif;
    
}




img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    
    /*ぼかし
    filter: blur(4px);*/
}

canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

